!.gitkeep

data/

# Laravel, nodeJS, Bower, Gulp exclusions, Composer exclusions
.htaccess
vendor/
node_modules/
npm-shrinkwrap.json
npm-debug.log
bower_components/
bootstrap/compiled.php
bootstrap/cache/

storage/
storage/debugbar/
storage/framework/views/
storage/framework/sessions/

composer.phar
composer.lock
phpunit.phar

public/assets
public/uploads
public/mix-manifest.json

env
htaccess
.env
.env.*.php
.env.php
.sass-cache

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
.rocketeer/
